@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(226, 226, 226);
}
/*Landing*/
.mainland {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.glass {
  position: relative;
  top: 80px;
  margin: 0 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-bottom: 7rem;
}
.head {
  text-align: center;
  font-family: "Poppins";
  font-weight: 800;
  padding: 3rem 0 0 0;
  font-size: 4rem;
}
.LandingHeader {
  position: relative;
  top: 2.6rem;
  font-family: "Poppins";
  white-space: pre-line;
  font-size: 3.3rem;
  font-weight: 900;
  color: #8b73ff;
}
.headerSmol {
  color: #8b73ff;
  font-family: "Poppins";
  top: 2.6rem;
  font-size: 1.5rem;
  position: relative;
  margin: auto;
  text-align: center;
}
.title {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.7rem;
}
.bugimg {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}
.sections {
  display: flex;
  justify-content: center;
}
.org {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.icon {
  width: 7rem;
  height: 7rem;
  margin: 25px;
}
.create-btn {
  border: none;
  outline: none;
  width: 100%;

  padding: 1.2rem;
  background-color: #8a73ff;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
}
.create-btn2 {
  border: none;
  outline: none;
  width: 100%;

  padding: 1.2rem;
  background-color: #8a73ff;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 12px;

  transition: 0.3s;
}
.create-btn:hover,
.create-btn2:hover {
  background-color: #e1a3ff;
  cursor: pointer;
}
p {
  text-align: center;
  margin: 20px;
  font-family: "Poppins";
}
.login-btn {
  background-color: white;
  color: #e1a3ff;
  border: none;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Poppins";
  transition: 0.3s;
}
.login-btn:hover {
  color: #8a73ff;
}

.user {
  flex: 1;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.orgImg,
.userImg {
  width: 18rem;
  height: 18rem;
}

p {
  text-align: center;
  margin: 20px;
}
/*Navbar*/
.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.userProfile {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  left: -60px;
}
.navBrand {
  transition: 0.3s;
  font-family: "Poppins";
  cursor: pointer;
}
.navBrand:hover {
  opacity: 0.8;
  color: #8a73ff;
}
.power {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}
.power:hover {
  opacity: 0.6;
}
.user-pro {
  transform: scale(3);
  transition: 0.5s;
  cursor: pointer;
}
.user-pro:hover {
  opacity: 0.6;
}
.brand {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  position: relative;
  left: 80px;
  color: black;
  text-decoration: none;
}

/*Bidder*/

.bidHead {
  text-align: left;
  font-family: "Poppins";
  margin: 5% 5% 0 5%;
  font-weight: 800;
}
.productTitle {
  position: relative;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}
.Product1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  margin: 1% 5% 2% 5%;
  transition: 0.3s;
}
.Product1:hover {
  box-shadow: 0px 1px 49px -17px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 1px 49px -17px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 1px 49px -17px rgba(0, 0, 0, 0.43);
}
.buttonDiv {
  position: relative;
  text-align: right;
}
.productDesc {
  font-family: "Poppins";
}
.bidbtn {
  background-color: #8a2be2;
  color: white;
  border-radius: 5px;
  width: 10rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Poppins";
  border: none;
  padding: 10px;
  transition: 0.3s;
}
.bidbtn:hover {
  background-color: #d88bff;
  cursor: pointer;
}
.bidbtn1 {
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  width: 10rem;
  outline: #8a2be2 2px solid;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  padding: 10px;
  transition: 0.3s;
}
.bidbtn1:hover {
  background-color: #8a2be2;
  cursor: not-allowed;
  color: #fff;
}

/*Seller*/
.addItem {
  background-color: #8a2be2;
  outline: none;
  border: none;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 1.6rem;
  transition: 0.3s;
  cursor: pointer;
}
.addBtn {
  text-align: center;
  padding: 30px;
}
.addItem:hover {
  background-color: #ab6ae7;
}

.bidbtn3 {
  background-color: rgb(255, 52, 103);
  color: #000;
  border-radius: 5px;
  width: 10rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border: none;
  font-weight: 600;
  font-family: "Poppins";
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}
.bidbtn3:hover {
  background-color: rgba(255, 52, 103, 0.616);
  cursor: pointer;
  color: #fff;
}
