@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    Margin:0px;
    Padding:0px;
    font-family: 'Poppins', sans-serif;
}
Body{
   Background-color:#1E212D; 
}
.center{
    Position:absolute;
    top:50%;
    left:50%;
    Transform:translate(-50%,-50%);
}
.loader{
    width:255px;
    height:50px;
    border:3px solid #51C4D3;
    Border-radius:10px;
    Display:flex;
    Align-items:center;
    Justify-content:center;
    
}
.inner{
    width:0px;
    height:40px;
    Background:#51C4D3;
    Animation:animate 2s infinite linear;
    
    Position:absolute;
    left:10px;
}
@keyframes animate{
    100%{
        width:245px;
    }
}
H3{
    Text-align:center;
    Margin-top:50px;
    color:#51C4D3;
}
.link-4{ 
 
width:250px;
  font-weight:999;
  height:30px ;
  font-size:15px;
  padding-top:5px;
  border-radius:5px;
 margin-bottom:5vw;
 text-decoration:none;
 Z-index:100; Background-color:rgba(255,255,255,0.04);
Color:white;
Backdrop-filter:blur(3px);
Text-align:center;
Position:absolute;
top:90%;
left:50%;
Transform:translate(-50%,-50%);
Border:2px solid rgba(255,255,255,0.04);
}